@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}